
.post__tags-list {
  float: left;
  height: auto;
  margin-bottom: 20px;
  .tag, .tag:hover {
    padding: 6px 13px;
    font-size: 12px
  }
}

.post__button--add, .post__button--edit, .post__button--delete, .post__button--archive, .post__button--unhide {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-small;
}

.post__button--edit, .post__button--delete, .post__button--archive, .post__button--unhide {
  font-size: 12px; }

.post--short-size {
  border-bottom: 1px solid #f2f2f2; }

.post--short-size {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.post--full-size {
  .post__body {
    margin: 15px 0;
  }
  margin-bottom: 100px;
}

.comment--full-size {
  .comment__body {
    margin: 15px ;
  }
}

.add_comment {
//  margin: 5px;
 // float: left;
}

.comment--short-size {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
   
li.comment--short-size {
list-style-type: none;
padding: 0px;
margin: 0px;
}

.vote_up {
  color: green;
  text-decoration: none;
  margin-left: 30px;  
}

.comment__body {
  margin-bottom: 10px;
}

.vote_down {
  color: red;
  text-decoration: none;
  margin-left: 30px;
  //background: image-url('images/minus.png') no-repeat
}

a:hover.vote_down {
  color: #f88;
}

.post__button--delete {
  background-color: red;
}

a:hover.post__button--delete {
    background-color: #f88
  }

.post__button--archive, .post__button--unhide {
  background-color: gray;
}

.post__button--unhide {
  float: right;
  margin-right: 100px;
}

a:hover.post__button--archive, a:hover.post__button--unhide {
    background-color: #aaa;
  }
