%ol
  - post.comments.each do |comment|
    %li.comment--short-size
      /= "(#{post.comments.count})"
      /- if comment.abusive
      /  = "Comment abusive"
      /- else
      .comment__body= comment.body
      /= link_to "+  VOTE UP", vote_up_post_comment_path(comment), class: 'vote_up' 
      /= link_to "-  VOTE  DOWN", '#', class: 'vote_down'
      /= current_user
